<div class="row">
  <div class="col-sx-12">
    <h3>New Post</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6">
    <div role="form" class="form">
      <div class="form-group">
        <label class="control-label">Title:</label>
        <input type="text" class="form-control" [(ngModel)]="title" />
      </div>
      <div class="form-group">
        <label class="control-label">Summary:</label>
        <textarea rows="2" class="form-control" [(ngModel)]="summary"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label">Content:</label>
        <textarea rows="10" class="form-control" [(ngModel)]="body"></textarea>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
          <label class="control-label">Tag:</label>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="newTag" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" (click)="addTag()">Add</button>
            </span>
          </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let tag of tags">
          {{tag}}
          <button type="button" class="close" (click)="removeTag()">&times;</button>
        </li>
      </ul>
    </div>
  </div>
</div>