<div class="list-group">
  <a href="#" class="list-group-item">
    <span class="badge">9</span>
    <h4 class="list-group-item-heading">List group item heading 1</h4>
    <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem in, optio quos, perspiciatis quo mollitia nemo dicta ut incidunt obcaecati delectus? Dolorem eveniet maiores numquam est exercitationem illum eum eligendi?</p>
  </a>
  <a href="#" class="list-group-item">
    <span class="badge">9</span>
    <h4 class="list-group-item-heading">List group item heading 2</h4>
    <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem in, optio quos, perspiciatis quo mollitia nemo dicta ut incidunt obcaecati delectus? Dolorem eveniet maiores numquam est exercitationem illum eum eligendi?</p>
  </a>
</div>